{{ define "youbbs" }}
<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{{.Title}}</title>
    <meta content="True" name="HandheldFriendly" />
    <link rel="canonical" href="https://2049bbs.xyz/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    {{if eq .CurrentUser.Theme "2"}}
    <link href="/static/default/style2.css" rel="stylesheet" type="text/css" />
    {{else}}
    <link href="/static/default/style.css" rel="stylesheet" type="text/css" />
    {{end}}

    <link href="/static/css/jquery.toast.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link href="/feed" rel="alternate" title="{{.SiteCf.Name}} - ATOM Feed" type="application/atom+xml"/>
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.toast.js" type="text/javascript"></script>
    <script src="/static/js/md5.min.js" type="text/javascript"></script>
    <link rel="top" title="Back to Top" href="#" />
    <meta name="keywords" content="{{.Keywords}}" />
    <meta name="description" content="{{.Description}}" />

    <script type="text/javascript">
        $(function(){
            $("#go-to-top").click(function(){
                $("html, body").animate({"scrollTop": 0}, 400);
                return false;
            });
            $(window).scroll(function() {
                var top = $(document).scrollTop();
                var g = $("#go-to-top");
                if (top > 300 && g.is(":hidden")) {
                    g.fadeIn();
                } else if(top < 300 && g.is(":visible")) {
                    g.fadeOut();
                }
            });
        })

    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script src="/static/js/katex.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="initKatex()"></script>

</head>
<body>
<div class="header-wrap">
    <div class="header">
        <div class="logo"><a href="/" name="top">
		<img src="/static/img/logo.png" height="45" /></a></div>
        <div class="scbox">

            <script type="text/javascript">
                var dispatch = function() {
                    q = document.getElementById("q");
                    if (q.value != "" && q.value != "站内搜索") {
                        window.open('https://google.com/search?q=' + q.value + '%20site:2049bbs.xyz', '_blank');
                        return false;
                    } else {
                        return false;
                    }
                }
            </script>

            <form role="search" method="get" id="searchform" onsubmit="return dispatch()" target="_blank">
                <input type="text" maxlength="30" onfocus="if(this.value=='站内搜索') this.value='';" onblur="if(this.value=='') this.value='站内搜索';" value="站内搜索" name="q" id="q">
            </form>
        </div>

        <div class="banner">

            {{if .CurrentUser.Id}}
            <img class="avatar avatar24" src="/static/avatar/{{.CurrentUser.Avatar}}.jpg" alt="{{.CurrentUser.Name}}"/>&nbsp;&nbsp;&nbsp;

            {{if gt .CurrentUser.NoticeNum 0}}
                <a href="/notification" style="color:yellow;">{{.CurrentUser.NoticeNum}}条提醒</a>&nbsp;&nbsp;&nbsp;
            {{end}}

            {{if eq .CurrentUser.Flag 0}}
                <span style="color:yellow;">已被禁用</span>&nbsp;&nbsp;&nbsp;
            {{else if eq .CurrentUser.Flag 1}}
                <span style="color:yellow;">在等待审核</span>&nbsp;&nbsp;&nbsp;
            {{end}}

            <a href="/member/{{.CurrentUser.Id}}">{{.CurrentUser.Name}}</a>&nbsp;&nbsp;&nbsp;<a href="/setting">设置</a>&nbsp;&nbsp;&nbsp;<a href="/logout">退出</a>

            {{else}}

            <a href="/login" rel="nofollow">登录</a>
            {{if not .SiteCf.CloseReg}}
            &nbsp;&nbsp;<a href="/register" rel="nofollow">注册</a>
            {{end}}
            {{end}}
        </div>
        <div class="c"></div>
    </div>
    <!-- header end -->
</div>

<div class="main-wrap">
    <div class="main">
        <div class="main-content">
            {{ template "content" . }}
        </div>
        <!-- main-content end -->
        <div class="main-sider">
            {{ template "side" . }}
        </div>
        <!-- main-sider end -->
        <div class="c"></div>
    </div>
    <!-- main end -->
    <div class="c"></div>
</div>

<div class="footer-wrap">
    <div class="footer">
        <p><a href="https://github.com/Terminus2049/2049BBS">GitHub</a> • <a rel="nofollow" href="/feed">Atom Feed</a>
            • <a href="/view?tpl=mobile">手机模式</a>
        </p>
        <p>Powered by <a href="https://www.youbbs.org" target="_blank">youBBS </a> - {{.SiteCf.GoVersion}}</p>
        <p>MD5SUMS: {{.SiteCf.MD5Sums}}</p>
    </div>
    <a style="display: none; " rel="nofollow" href="#top" id="go-to-top">▲</a>
    <!-- footer end -->
</div>

</body>
</html>
{{ end }}



{{ define "side" }}

{{if eq .CurrentUser.Flag 99}}
<div class="sider-box">
    <div class="sider-box-title">管理员面板 （<a href="https://www.youbbs.org/" target="_blank">YouBBS官方支持</a>）</div>
    <div class="sider-box-content">
        <div class="btn">
            <a href="/admin/category/list">分类管理</a>
            <a href="/admin/user/list">用户管理</a>
            <a href="/admin/link/list">链接管理</a>
        </div>
        <div class="c"></div>
    </div>
</div>
{{ end }}

<!-- About -->
{{if eq .PageName "home"}}
<div class="sider-box">
	<div class="sider-box-title">公告</div>
	<div class="sider-box-content">
		<p>{{.Announcement}}</p>
		<div class="c"></div>
	</div>
</div>

<div class="sider-box">
	<div class="sider-box-title">关于</div>
	<div class="sider-box-content">
		<p>一个无需手机号和邮箱即可注册和发言的论坛，还你一个自由讨论的空间。</p>
		<div class="btn">
			<a href="https://2049bbs.xyz/t/10">初心</a>
      <a href="https://2049bbs.xyz/t/8">使用指南</a>
      <a href="https://2049bbs.xyz/t/1564">习惯法</a>
		</div>
		<div class="c"></div>
	</div>
</div>
{{ end }}


{{if .HotNodes}}
<div class="sider-box">
    <div class="sider-box-title">节点</div>
    <div class="sider-box-content">
        <div class="btn">
            {{range $_, $v := .HotNodes}}
            <a href="/n/{{$v.Id}}">{{$v.Name}}</a>
            {{end}}
        </div>
        <div class="c"></div>
    </div>
</div>
{{ end }}

{{if eq .PageName "article_detail"}}
{{if .Relative.Tags}}
<div class="sider-box">
    <div class="sider-box-title">相邻的标签</div>
    <div class="sider-box-content">
        <div class="btn">{{range $_, $item := .Relative.Tags}}<a href="/tag/{{$item}}">{{$item}}</a> {{ end }}</div>
        <div class="c"></div>
    </div>
</div>
{{ end }}
{{ end }}


{{if eq .PageName "home"}}
{{if .Links}}
<div class="sider-box">
    <div class="sider-box-title">链接</div>
    <div class="sider-box-content">
        <div class="btn">
            {{range $_, $v := .Links}}
            <a href="{{$v.Url}}" target="_blank">{{$v.Name}}</a>
            {{end}}
        </div>
        <div class="c"></div>
    </div>
</div>
{{ end }}

{{if .SiteInfo}}
<div class="sider-box">
    <div class="sider-box-title">本站已稳定运行 {{.SiteInfo.Days}} 天</div>
    <div class="sider-box-content">
        <ul>
            <li>会员: {{.SiteInfo.UserNum}}</li>
            <li>帖子: {{.SiteInfo.PostNum}}</li>
            <li>回复: {{.SiteInfo.ReplyNum}}</li>
            <li>分类: {{.SiteInfo.NodeNum}}</li>
            <li>标签: {{.SiteInfo.TagNum}}</li>
        </ul>
        <div class="c"></div>
    </div>
</div>
{{ end }}
{{ end }}

{{ end}}
