/* reset */
body, h1, h2, h3, h4, h5, h6, p, blockquote,dl, dt, dd, ul, ol, li,pre,fieldset, lengend, button, input, textarea,th, td {margin: 0;padding: 0;}
body, button, input, select, textarea {font: 14px/1 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;}
button, input, select, textarea { padding:3px; line-height:1em; margin:0;}
textarea {line-height:150%;resize: none;}
input { line-height:normal; }
h1 { font-size:24px; }
h2 { font-size:22px; }
h3 { font-size:20px; }
h4 { font-size:18px; }
h5 { font-size:15px; }
h1 { font-weight:normal;}
h2, h3, h4, h5 {
  font-weight:normal;
  margin-bottom:15px;
  margin-top: 15px;
  line-height:160%;
}

small { font-size: 11px; }

img { border: none; }

blockquote {
  font-weight: 300;
  padding: 0 0 0 1.4rem;
  margin: 0 2.0rem 1rem 0rem;
  border-left: .2em solid #ddd;
  text-align: justify;
}

blockquote p {
  margin-bottom: 0;
  font-family: 'Palatino Linotype','Book Antiqua',Palatino,STKaiti,KaiTi,'楷体',
    SimKai,DFKai-SB,NSimSun,serif
}

/* Table */
table {
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #eee;
  word-break: break-all;
}

ol, ul {
  padding-left: 2em;
  line-height:160%;margin-bottom:6px;
}

p {line-height:160%;margin-bottom:6px;}
pre {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    white-space: pre;
    vertical-align: baseline;
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
    border-radius: 0.4em;
    line-height: 1.45em;
    font-size: 13px;
    color: #93a1a1;
    overflow: auto;
}

pre code {
    min-width: max-content;
    /* for compatibility */
    min-width: -moz-max-content;
    min-width: -webkit-max-content;
}

p code {
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace !important;
    box-sizing: border-box;
    background-color: rgba(33,42,51,.05);
    border-radius: 2px;
    padding: .2em .3em;
    font-size: 85%;
}

.nav_btn {
  border: none;
  outline: none;
  padding: 5px 8px;
  cursor: pointer;
}

.nav_btn:hover, .active{
  background-color: #334;
  border-radius: 3px;
  color: white !important;
}

html {height: 100%;}
body {padding: 0px;margin: 0px;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;background-color: #fff;}

a:link {color: #15C;text-decoration: none;}
a:active {color: #bd0a01;text-decoration: none;}
a:visited {color: #15C;text-decoration: none;}
a:hover {color: #bd0a01;text-decoration: underline;}

.c { clear:both; }
.float-left { float:left; }
.float-right { float:right; }
.text-center {text-align:center;}
.center-align {margin:0 auto;}
.div-align {display:block;width:100%;text-align:center;}
.grey {color: #999;}
.red {color: #bd0a01;}
.fs12 {font-size:12px;line-height:1.2em;}
.fs12 td {border: none;}
.fs14 {font-size:14px;line-height:20px;}
.textbtn {
    cursor: pointer;
    font-size: 12px;
    line-height: 1.2em;
    padding: 2px 5px 2px 5px;
    border: 1px solid #A2A2A2;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    text-decoration: none;
    font-weight: bold;
    -moz-box-shadow: 0px 1px 2px rgba(66, 66, 77, 0.3);
}
.yl {color:yellow;}
.c999 {color:#999;}
.c666 {color:#666;}
.dsp1px {width: 1px;height: 1px;}

img.avatar {-moz-border-radius: 4px;border-radius: 4px;}
.avatar24 {width: 24px; height: 24px;}
.avatar48 {width: 48px; height: 48px;}
.avatar73 {width: 73px; height: 73px;}

.header-wrap {width:100%;height:48px;color:#FFF;background-color: #515751;padding: 5px 0;}
    .header {width:100%;margin:0 auto;color:#666;vertical-align: middle;font-size: 15px;line-height:19px;font-weight: 500;}
    .header a {color:#CCC;text-decoration:none;}
    .header a:hover {color:#FFF;text-decoration:none;}
        .logo {margin-left:6px;display:block;float:left;font-size:36px;line-height:40px;font-family:Arial, "宋体",Helvetica, sans-serif;}
        .logo a {text-decoration: none;color: #ccc;text-shadow: #000 0 0 20px;-webkit-transition: color 0.25s linear;}
        .logo a:hover,
        .logo a:focus,
        .logo a:active {color: #fff;text-shadow: #666 0 0 20px;}
        .hdlogo {display:none;}
        .banner {float:right;padding:15px;}
        .banner img{vertical-align: middle;border-radius: 4px;}
        .banner a{color: #FFF}
        .avatar-mini {max-height:24px;max-width:24px;}

.main-wrap {width:100%;background-color:#f9f9f9;}
    .main {width:100%;margin:0;}
        .main-content {width:100%;}
            .tiptitle {margin:0 auto;width:100%;margin-bottom:10px;padding:10px;color:#CCC;font-size:12px;background-color:#000;}
            .nav-title {border-bottom:1px solid #E2E2E2;padding:10px;font-size:12px;color:#465567;background-image: linear-gradient(top, #F9F9FA, #E0E2E8);background-color: #edf4ed;background-repeat: repeat-x;-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0px 3px rgba(0, 0, 0, 0.25);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0px 3px rgba(0, 0, 0, 0.25);}
            .nav-title a {color: #465567;}
            .no-comment {margin:0 auto;width:90%;padding:10px;background-color:#FFF;margin-bottom:10px;margin-top: 10px;border: 2px dashed #BBB;color:#999;text-align:center;}
            .main-box {padding:10px;border-bottom: 2px solid #E2E2E9;background-color: #FFF;}
                .home-box-list {padding:10px 0 15px 0;}
                .topic-title {margin-bottom:10px;}
                .topic-title-main {width:81%;}
                .topic-title h1 {margin-bottom:10px;font-size:20px;font-weight: 500;line-height: 150%;color:#333;WORD-WRAP: break-word;}
                .topic-title-date {font-size:12px;color:#999;border-bottom: 1px solid #EFEFEF;padding-bottom:8px;}
                .topic-title-date a {color:#A0A0A0;font-weight:bold;}
                .topic-title-date a:hover {color:#707070;}

                .detail-avatar {width:48px;height:48px;float:right;}
                .detail-avatar img {border-radius: 4px;width:48px;height:48px;}
                .topic-content {WORD-WRAP: break-word;}
                .topic-content img {display:block;margin-top:10px;max-width:100%;}
                .topic-content embed {display:block;margin-top:10px;max-width:100%;}
                .post-list {border-bottom: 1px solid #EFEFEF;padding:0 10px 0 10px;margin-bottom:10px;}
                .item-avatar {width:28px;height:28px;float:left;}
                .item-avatar img {max-height:24px;max-width:24px;border-radius: 4px;}
                .item-content {max-width:74%;min-height:48px;margin: 0 0 5px 5px;float:left;WORD-WRAP: break-word;}
                .count0 {max-width:88%;}
                .item-date {color:#999;font-size:12px;}
                .item-date a {color:#666;}
                .item-date a:hover {color:#222;}
                .item-count {float:right;margin:12px 5px 0 0;}
                .item-count a {font-size: 12px;line-height: 14px;font-weight: bold;border-radius: 14px;display: inline-block;background-color: #AAB0C6;color: #FFF;padding: 2px 10px 2px 10px;}
                .item-count a:hover {text-decoration:none;background-color:#778087;}
                .item-count a:visited {color:#AAA;background-color:#E5E5E5;}

                .item-content h1 {font-size: 16px;line-height:130%;margin-bottom:8px;min-height:28px;}
                .node-detail {border-bottom:1px solid #EFEFEF;margin-bottom:15px;}
                .node-img {float:left;margin:0 10px 10px 0;height:73px;width:73px;}
                .node-img img {max-width:73px;max-height:73px;border-radius: 4px;}
                .node-data {float:left;width:560px;font-size:12px;color:#999;}
                .pagination {margin-top:15px;padding:0 10px 0 10px;}
                .pagination a {font-size:12px;display:block;line-height:1.5em;padding:2px 5px 2px 5px;border:1px solid #A2A2A2;border-radius: 5px;background-color: #f5f5f5; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; font-weight: bold; -moz-box-shadow: 0px 1px 2px rgba(66, 66, 77, 0.3); }
                .pagination a:hover { background-color: #fff; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; text-decoration: none; font-weight: bold; cursor: pointer; -moz-box-shadow: 0px 1px 2px rgba(66, 66, 77, 0.2); }
                .pagination a:active { background-color: #e2e2e2; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; text-decoration: none; font-weight: bold; cursor: pointer; -moz-box-shadow: 0px 1px 2px rgba(66, 66, 77, 0.2); }
                .newpostbtn {font-size:12px;display:block;line-height:1.2em;padding:2px 5px 2px 5px;border:1px solid #A2A2A2;border-radius: 5px;background-color: #f5f5f5; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; font-weight: bold; -moz-box-shadow: 0px 1px 2px rgba(66, 66, 77, 0.3); }
                .newpostbtn:hover { background-color: #fff; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; text-decoration: none; font-weight: bold; cursor: pointer; -moz-box-shadow: 0px 1px 2px rgba(66, 66, 77, 0.2); }
                .newpostbtn:active { background-color: #e2e2e2; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; text-decoration: none; font-weight: bold; cursor: pointer; -moz-box-shadow: 0px 1px 2px rgba(66, 66, 77, 0.2); }

                .commont-item {border-bottom: 1px solid #EFEFEF;padding:0 10px 0 10px;padding:0 10px 0 10px;margin-bottom:15px;}
                .commont-avatar {width:32px;height:28px;float:left;}
                .commont-avatar img {max-height:24px;max-width:24px;border-radius: 4px;}
                .commont-data {float:left;width:89%;}
                .commont-data-date {color:#999;font-size: 12px;margin-bottom:4px;}
                .commont-data-date a {color:#666;}
                .commont-data-date a:hover {color:#222;}

                .commonet-count {font-size: 12px;line-height: 12px;font-weight: 500;border-radius: 10px;display: inline-block;background-color: #E0E0E0;color: #808080;padding: 2px 5px 2px 5px;}
                .comment-text {width: 95%; height: 150px;}
                .commont-content {WORD-WRAP: break-word;}
                .commont-content img {display:block;margin-top:10px;max-width:100%;}
                .commont-content embed {display:block;margin-top:10px;max-width:100%;}
                .main-box-node .btn a {display:block;padding:4px 8px;font-size:12px;border:1px solid #ECECEC;float:left;margin:0 4px 6px 0;color:#666;background-color:#FFF;white-space: nowrap;border-radius: 4px;}
                .main-box-node .btn a:hover {border:1px solid #CCC;text-decoration:none;color:#000;background-color:#F6F6F6;}
                .member-avatar {float:left; margin:10px;width:73px;height:73px;}
                .member-avatar img {width: 73px;height: 73px;}
                .member-detail {float:left; margin:10px;WORD-WRAP: break-word;}
                .member-detail p {color:#333;font-size:12px;line-height:16px;margin-bottom:5px;}
                .user-list {margin:20px;}
                .user-list li{margin-bottom:10px;}

                .mytag {font-size:13px;padding:2px 2px 2px 20px;margin:10px 2px 4px 2px;background: url(img/tag.gif) no-repeat 0 6px;color:#CCC;}
                .has_adv {background-color:#f9f9f9;padding:10px;margin-bottom:10px;}
                .has_adv h3{color: #444;font-size:13px;font-weight:bold;margin-bottom:6px;}
                .rel_list {list-style:none;margin-bottom:2px;padding-left:0em;}
                .rel_list li{float:left;width:98%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:2px;line-height:1.2em;}
                .rel_list li a {font-size:12px;color:#333;text-decoration: none;padding-left: 25px;background: url('img/dot.png') no-repeat 10px 6px;}
                .rel_list li a:hover {color:#000;text-decoration: underline;}

                .bot-side-info {color: #999;padding-left:.7em;}
                .bot-side-info li {margin-bottom: 8px;}

.footer-wrap {width:100%;margin-bottom:0px;color:#999;background-color: #EDEDED;border-top:1px solid #E0E0E0;}
    .footer {margin:0 auto;padding:10px;}
    .footer p {margin-bottom:1px;line-height:100%;}
    .footer p a {color:#606060;font-weight:500;}
    .footer p a:hover {color:#303030;text-decoration:underline;}


/* FORM Copy from babel v2.4.0-RC1 */

.sl {border-radius: 4px;padding: 5px;font-size: 14px;border: 1px solid #CCC;box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset;width: 310px;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;}
.sl:focus {border: 1px solid rgba(128, 128, 160, 0.6);box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset, 0px 0px 5px rgba(128, 128, 160, 0.5);outline: none;}
.ml {border-radius: 3px;padding: 5px;font-size: 14px;border: 1px solid #CCC;display: block;width: 310px;height: 160px;box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset;font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;}
.ml:focus {border: 1px solid rgba(128, 128, 160, 0.6);box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset, 0px 0px 5px rgba(128, 128, 160, 0.5);outline: none;}
.sll {-moz-border-radius: 3px;-webkit-border-radius: 3px;padding: 3px;font-size: 14px;border: 1px solid #ccc;width: 640px;font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;}
.sll:focus {border: 1px solid rgba(128, 128, 160, 0.6);-moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);-webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);outline: none;}
.mll {-moz-border-radius: 3px;-webkit-border-radius: 3px;padding: 3px;font-size: 14px;border: 1px solid #ccc;display: block;width: 640px;height: 140px;font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;}
.mll:focus {border: 1px solid rgba(128, 128, 160, 0.6);-moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);-webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);outline: none;}
.tall {height: 140px;}

/* FORM end */

.w50 {width:50px;}
.w100 {width:100px;}
.w150 {width:150px;}
.w200 {width:200px;}
.w300 {width:300px;}
.w400 {width:400px;}
.w450 {width:450px;}
.w500 {width:500px;}

.wb10 {width:10%;}
.wb20 {width:20%;}
.wb30 {width:30%;}
.wb40 {width:40%;}
.wb50 {width:50%;}
.wb60 {width:60%;}
.wb70 {width:70%;}
.wb80 {width:80%;}
.wb90 {width:90%;}
.wb95 {width:95%;}
.wb96 {width:96%;}
.wb100 {width:100%;}

.h60 {height:60px;}

.badge-notification {
    padding: 3px 5px;
    vertical-align: middle;
    color: #fff;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    background-color: #bdbdbd;
    display: inline-block;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 10px;
}

.clicks {
    font-weight: normal;
    background-color: #ddd;
    top: -1px;
    color: #888;
    position: relative;
    margin-left: 2px;
    border: none;
}

.previews {padding: 10px 0 10px 0; border-bottom: 1px solid #ebebeb;border-top: 1px solid #ebebeb;}

.no-comment2 {margin:0 auto;padding:10px 0 10px 0;background-color:#FFF;margin-bottom:10px;border-top: 2px dashed #BBB;border-bottom:2px dashed #BBB;color:#999;text-align:center;}
