{{ define "youbbs" }}
<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{{.Title}}</title>
    <meta content="True" name="HandheldFriendly" />
    <link rel="canonical" href="https://2049bbs.xyz/" />
    <meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="/static/default/style_mobile.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/jquery.toast.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.toast.js" type="text/javascript"></script>
    <script src="/static/js/md5.min.js" type="text/javascript"></script>
    <link rel="top" title="Back to Top" href="#" />
    <meta name="keywords" content="{{.Keywords}}" />
    <meta name="description" content="{{.Description}}" />

    <script type="text/javascript">
        $(function(){
            $("#go-to-top").click(function(){
                $("html, body").animate({"scrollTop": 0}, 400);
                return false;
            });
            $(window).scroll(function() {
                var top = $(document).scrollTop();
                var g = $("#go-to-top");
                if (top > 300 && g.is(":hidden")) {
                    g.fadeIn();
                } else if(top < 300 && g.is(":visible")) {
                    g.fadeOut();
                }
            });
        })

    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script src="/static/js/katex.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="initKatex()"></script>

</head>
<body>
<div class="hdlogo"><img src="/static/img/youbbs.jpg" alt="{{.SiteCf.Name}}"/></div>
<div class="header-wrap">
    <div class="header">
        <div class="logo"><a href="/" name="top"><img src="/static/img/logo.png" height="40" /></a>
	</div>
    </div>

        <div class="banner">

            {{if .CurrentUser.Id}}
            {{if gt .CurrentUser.NoticeNum 0}}
                <a href="/notification" style="color:yellow;">{{.CurrentUser.NoticeNum}}条提醒</a>&nbsp;&nbsp;&nbsp;
            {{end}}
            <a href="/member/{{.CurrentUser.Id}}"><img class="avatar avatar24" src="/static/avatar/{{.CurrentUser.Avatar}}.jpg" alt="{{.CurrentUser.Name}}"/></a>&nbsp;&nbsp;<a href="/setting">设置</a>&nbsp;&nbsp;<a href="/logout">退出</a>
            {{else}}
            &nbsp;<a href="/login" rel="nofollow">登录</a>

            {{if not .SiteCf.CloseReg}}
            &nbsp;&nbsp;<a href="/register" rel="nofollow">注册</a>
            {{end}}

            {{end}}
        </div>
        <div class="c"></div>
    </div>
    <!-- header end -->
</div>

<div class="main-wrap">
    <div class="main">
        <div class="main-content">

            {{if .CurrentUser.Id}}

            {{if eq .CurrentUser.Flag 0}}
            <div class="tiptitle">站内提醒 &raquo; <span style="color:yellow;">帐户已被管理员禁用</span></div>
            {{else if eq .CurrentUser.Flag 1}}
            <div class="tiptitle">站内提醒 &raquo; <span style="color:yellow;">帐户在等待管理员审核</span></div>
            {{else}}

            {{if not .CurrentUser.Password }}
            <!--<div class="tiptitle">站内提醒 &raquo; <a href="/setting#3" style="color:yellow;">设置登录密码</a></div>-->
            {{end}}
            {{end}}



            {{if eq .CurrentUser.Flag 99}}
            <div class="nav-title">管理员面板 <a href="https://www.youbbs.org/">youBBS官方支持</a></div>
            <div class="main-box main-box-node">
                <div class="btn">
                    <a href="/admin/category/list">分类管理</a>
                    <a href="/admin/user/list">用户管理</a>
                    <a href="/admin/link/list">链接管理</a>
                    <div class="c"></div>
                </div>

            </div>
            {{end}}

            {{end}}

            {{ template "content" . }}

            {{if .HotNodes}}
            <div class="main-box main-box-node">
                <div class="btn">
                    {{range $_, $v := .HotNodes}}
                    <a href="/n/{{$v.Id}}">{{$v.Name}}</a>
                    {{end}}
                    <div class="c"></div>
                </div>
                <div class="c"></div>
            </div>
            {{ end }}

            {{ template "side" . }}

        </div>
        <!-- main-content end -->
        <div class="c"></div>
    </div>
    <!-- main end -->
    <div class="c"></div>
</div>

<div class="footer-wrap">
    <div class="footer">
        <p class="float-left"><a href="https://github.com/Terminus2049/2049BBS">GitHub</a>
            • <a href="/view?tpl=desktop">桌面模式</a>
        </p>
        <p class="float-right">by <a href="https://www.youbbs.org" target="_blank">youBBS </a> - {{.SiteCf.GoVersion}}</p>
        <div class="c"></div>

    </div>
    <!-- footer end -->
</div>

</body>
</html>
{{ end }}



{{ define "side" }}

<!-- About -->
{{if eq .PageName "home"}}
<div class="nav-title">公告</div>
<div class="main-box main-box-node">
    <p>{{.Announcement}}</p>
    <div class="c"></div>
</div>

<div class="nav-title">关于</div>
<div class="main-box main-box-node">
    <p>
      一个无需手机号和邮箱即可注册和发言的论坛，还你一个自由讨论的空间。
    </p>
    <div class="btn">
      <a href="https://2049bbs.xyz/t/10">初心</a>
      <a href="https://2049bbs.xyz/t/8">使用指南</a>
      <a href="https://2049bbs.xyz/t/1564">习惯法</a>
      <div class="c"></div>
    </div>
    <div class="c"></div>
</div>
{{ end }}

{{if eq .PageName "article_detail"}}
{{if .Relative.Tags}}
<div class="nav-title">相邻的标签</div>
<div class="main-box main-box-node">
    <div class="btn">
        {{range $_, $item := .Relative.Tags}}<a href="/tag/{{$item}}">{{$item}}</a> {{ end }}
        <div class="c"></div>
    </div>
    <div class="c"></div>
</div>
{{ end }}
{{ end }}

{{if eq .PageName "home"}}
{{if .Links}}
<div class="nav-title">链接</div>
<div class="main-box main-box-node">
    <div class="btn">
        {{range $_, $v := .Links}}
        <a href="{{$v.Url}}" target="_blank">{{$v.Name}}</a>
        {{end}}
    </div>
    <div class="c"></div>
</div>
{{ end }}

{{if .SiteInfo}}
<div class="nav-title">本站已稳定运行 {{.SiteInfo.Days}} 天</div>
<div class="main-box main-box-node">
    <ul class="bot-side-info">
        <li>会员: {{.SiteInfo.UserNum}}</li>
        <li>帖子: {{.SiteInfo.PostNum}}</li>
        <li>回复: {{.SiteInfo.ReplyNum}}</li>
        <li>分类: {{.SiteInfo.NodeNum}}</li>
        <li>标签: {{.SiteInfo.TagNum}}</li>
    </ul>
    <div class="c"></div>
</div>
{{ end }}
{{ end }}

{{ end}}
